{% extends "designs/default.html" %}


{% block head %}
    <style>
        .logo-frontpage {
            max-height: 120px;
            width: 100%;
        }

        .signin-button {
            padding-top: 30px;
            background-color: rgba(58, 80, 99, 0.6);
            max-width: 500px;
            padding-bottom: 20px;
            color: #fff;
            width: 100% !important;
            border-radius: 10px;
            text-align: center;
            font-size: 23px !important;
        }

        p {
            align: center;
            font-weight: bold;
        }

        a, a:link {
            text-decoration: none;
        }

        .signin-link {
            width: 100%;
            margin-right: 30px;
            margin-left: 30px;
        }

        @media only screen and (max-width: 320px) {
            .signin-button {
                font-size: 14px !important;
            }

        }

    </style>

{% endblock %}

{% block content %}


    <div class="container mt-5 ">

        <div class="row">
            <div class="col-12">
                <img src="/lookandfeel/images/logo-white-background.svg" class="logo-frontpage ps-4 pr-4" alt=""/>
                <div class=" d-flex justify-content-center mt-5 ">

                    <a href="{% url "panel:index" %}" class="signin-link mt-5">
                        <div class="signin-button">
                            <p>Click to sign-in</p>
                        </div>
                    </a>

                </div>

            </div>


        </div>

    </div>
{% endblock %}