{% extends "designs/default.html" %}

{% block title %}Uptime Checker{% endblock %}
{% block head %}

<style>

        p {
            align: center;
            font-weight: bold;
        }
</style>
{% endblock %}

{% block content %}

    <a href="{% url "panel:index" %}" class="signin-link mt-5">
        <div class="container mt-5 ">

        <div class="row">
            <div class="col-12">
                <img src="/lookandfeel/images/logo-white-background.svg" class="logo-frontpage ps-4 pr-4" alt=""/>
                <div class=" d-flex justify-content-center mt-5 ">


                        <div class="signin-button">
                            <p>Click to sign-in</p>
                        </div>


                </div>

            </div>


        </div>

    </div></a>
{% endblock %}