{% extends "designs/coreui.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% load humanize %}

{% block breadcrumb %}

    <li class="breadcrumb-item "><a href="{% url 'panel:users' %}" style="text-decoration: none;">Users</a></li>

{% endblock %}

{% block content %}



    <div class="row" id="app">
        <div class="col-12">
            {% if is_secretkey_insecure %}
                <div class="alert alert-danger">
                    <p>Your Django SECRET_KEY is using the default insecure key. Please generate and use a custom
                        one.</p>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    Change password for: <span class="text-secondary">{{ the_user.username }}</span>
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <label for="formInput5" class="form-label"><span class="text-danger">Current</span>
                            Password</label>
                        <input type="password" class="form-control form-control-sm" id="formInput5"
                               v-model="user.current_password" :class="{'is-invalid': form_errors.current_password }"/>
                        <span class="text-danger"
                              v-if="form_errors.current_password">[[form_errors.current_password]]</span>

                    </div>

                    <hr/>
                    <div class="mb-3">
                        <label for="formInput5" class="form-label"><span class="text-danger">New</span> Password</label>
                        <input type="password" class="form-control form-control-sm" id="formInput5"
                               v-model="user.new_password" :class="{'is-invalid': form_errors.new_password }"/>
                        <span class="text-danger" v-if="form_errors.new_password">[[form_errors.new_password]]</span>

                    </div>
                    <div class="mb-1">
                        <label for="formInput5" class="form-label"><span class="text-danger">New</span> Password (<u>again</u>)</label>
                        <input type="password" class="form-control form-control-sm" id="formInput5"
                               v-model="user.new_password_again"
                               :class="{'is-invalid': form_errors.new_password_again }"/>
                        <span class="text-danger" v-if="form_errors.new_password_again">[[form_errors.new_password_again]]</span>

                    </div>

                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <button @click="saveUser" class="btn btn-success btn-block" style="color: #fff;"
                                :disabled="disable_button">Change password
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postflight %}
    <script language="JavaScript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        Vue.mixin({
            delimiters: ['[[', ']]']
        });

        var vm = new Vue({
                el: '#app',
                data: {
                    message: "Ready",
                    flag_loading: true,
                    user: {
                        current_password: "",
                        new_password: "",
                        new_password_again: ""
                    },
                    form_errors: {}
                },
                computed: {
                    disable_button() {
                        // you can  check your form is filled or not here.
                        return !(this.user.current_password && this.user.new_password && this.user.new_password_again && this.user.new_password == this.user.new_password_again
                            && this.user.current_password.length > 6 && this.user.new_password.length > 6);

                    },
                },
                methods: {


                    saveUser() {
                        // trigger the "init" operations on server side
                        var data = {'user_id': '{{ the_user.id }}', 'new_password': this.user.new_password};

                        axios.post("{% url 'panel:api_users_reset_password' %}", data).then((res) => {

                            if (res.data && res.data.status) {
                                if (res.data.status == 'okay') {

                                    this.flag_loading = false;
                                    var r = Date.now();

                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Password change',
                                        text: 'Your password has changed. You will need to login again with your new password.', timer: 3000
                                    })
                                    //window.location.replace(`{% url 'panel:users' %}?r=${r}`);

                                } else if (res.data.status == 'error') {
                                    if (res.data.form_errors) {
                                        this.form_errors = res.data.form_errors;
                                    }

                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: res.data.error, timer: 3000
                                    })
                                }
                            }
                        }).catch(error => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: error, timer: 3000
                            })
                        })
                    },
                }
                ,
                created() {
                }
            })
        ;


    </script>

{% endblock %}
