{% extends "designs/coreui.html" %}

{% block title %}
    {% if operation == "edit" %}
        Edit user
    {% else %}
        Create new user
    {% endif %}
{% endblock %}

{% load humanize %}

{% block breadcrumb %}

    <li class="breadcrumb-item "><a href="{% url 'panel:users' %}" style="text-decoration: none;">Users</a></li>

{% endblock %}

{% block content %}



    <div class="row" id="app">
        <div class="col-12">
            {% if is_secretkey_insecure %}
                <div class="alert alert-danger">
                    <p>Your Django SECRET_KEY is using the default insecure key. Please generate and use a custom
                        one.</p>
                </div>
            {% endif %}

            <div class="card" v-if="!flag_loading">
                <div class="card-header">
                    {% if operation == "edit" %}
                        Edit user
                    {% else %}
                        Create new user
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="formInput1" class="form-label">Username</label>
                        <input type="text" class="form-control form-control-sm" id="formInput1"
                               v-model="user.username" :class="{'is-invalid': form_errors.username }"/>


                        <span class="text-danger" v-if="form_errors.username">[[form_errors.username]]</span>

                    </div>
                    <div class="mb-3">
                        <label for="formInput6" class="form-label">Role</label>
                        <select class="form-control"
                                v-model="user.role" :class="{'is-invalid': form_errors.role }">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>

                        <span class="text-danger" v-if="form_errors.role">[[form_errors.role]]</span>
                    </div>

                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6">
                                <label for="formInput2" class="form-label">First Name</label>
                                <input type="text" class="form-control form-control-sm" id="formInput2"
                                       v-model="user.first_name" :class="{'is-invalid': form_errors.first_name }"/>
                                <span class="text-danger"
                                      v-if="form_errors.first_name">[[form_errors.first_name]]</span>

                            </div>
                            <div class="col-6">
                                <label for="formInput3" class="form-label">Last Name</label>
                                <input type="text" class="form-control form-control-sm" id="formInput3"
                                       v-model="user.last_name" :class="{'is-invalid': form_errors.last_name }"/>
                                <span class="text-danger" v-if="form_errors.last_name">[[form_errors.last_name]]</span>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formInput4" class="form-label">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="formInput4"
                               placeholder="e.g. name@isp.com" v-model="user.email"
                               :class="{'is-invalid': form_errors.email }"/>
                        <span class="text-danger" v-if="form_errors.email">[[form_errors.email]]</span>

                    </div>
                    <div class="mb-1">
                        <label for="formInput5" class="form-label">Password</label>
                        {% if operation == "edit" %}
                            <br/><a href="#">Change password for [[user.username]]</a>
                        {% else %}
                            <input type="password" class="form-control form-control-sm" id="formInput5"
                                   v-model="user.password" :class="{'is-invalid': form_errors.password }"/>
                        {% endif %}
                        <span class="text-danger" v-if="form_errors.password">[[form_errors.password]]</span>

                    </div>


                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <button @click="saveUser" class="btn btn-success btn-block" style="color: #fff;">Save user
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postflight %}
    <script language="JavaScript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        Vue.mixin({
            delimiters: ['[[', ']]']
        });

        var vm = new Vue({
            el: '#app',
            data: {
                message: "Ready",
                flag_loading: true,
                user: {
                    operation: "{{ operation }}",
                    username: null,
                    first_name: null,
                    last_name: null,
                    email: null,
                    password: null,
                    role: "user"
                },
                form_errors: {}
            },
            methods: {
                saveUser() {
                    // trigger the "init" operations on server side
                    var data = this.user;
                    data.operation = "{{ operation }}";

                    axios.post("{% url 'panel:api_users_edit' %}", data).then((res) => {

                        if (res.data && res.data.status) {
                            if (res.data.status == 'okay') {

                                this.flag_loading = false;
                                var r = Date.now()
                                window.location.replace(`{% url 'panel:users' %}?r=${r}`);

                            } else if (res.data.status == 'error') {
                                if (res.data.form_errors) {
                                    this.form_errors = res.data.form_errors;
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: res.data.error, timer: 3000
                                })
                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })
                },
                readUser() {
                    axios.post("{% url 'panel:api_users_read' %}", {'user_id': '{{ the_user.id }}'}).then((res) => {
                        if (res.data && res.data.status) {
                            if (res.data.status == 'okay') {

                                this.flag_loading = false;
                                this.user = res.data.object;


                            } else if (res.data.status == 'error') {

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: res.data.error, timer: 3000
                                })
                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })

                }
            },
            created() {

                {% if operation == 'create' %}
                    this.flag_loading = false;
                {% else %}
                    this.readUser();
                {% endif %}
            }
        });


    </script>

{% endblock %}
