{% extends "designs/coreui.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% load humanize %}

{% block breadcrumb %}

    <li class="breadcrumb-item "><a href="{% url 'panel:users' %}" style="text-decoration: none;">Users</a></li>

{% endblock %}

{% block content %}



    <div class="row" id="app">
        <div class="col-12">
            {% if is_secretkey_insecure %}
                <div class="alert alert-danger">
                    <p>Your Django SECRET_KEY is using the default insecure key. Please generate and use a custom
                        one.</p>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                        Reset password for: <span class="text-secondary">{{ the_user.username }}</span>
                </div>
                <div class="card-body">

                    <div class="mb-1">
                        <label for="formInput5" class="form-label">New Password for {{ the_user.username }}</label>
                            <input type="password" class="form-control form-control-sm" id="formInput5"
                                   v-model="user.new_password" :class="{'is-invalid': form_errors.new_password }"/>
                        <span class="text-danger" v-if="form_errors.new_password">[[form_errors.new_password]]</span>

                    </div>


                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <button @click="saveUser" class="btn btn-success btn-block" style="color: #fff;">Reset password
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postflight %}
    <script language="JavaScript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        Vue.mixin({
            delimiters: ['[[', ']]']
        });

        var vm = new Vue({
            el: '#app',
            data: {
                message: "Ready",
                flag_loading: true,
                user: {
                    new_password: null,
                },
                form_errors: {}
            },
            methods: {
                saveUser() {
                    // trigger the "init" operations on server side
                    var data = {'user_id': '{{ the_user.id }}', 'new_password' : this.user.new_password };

                    axios.post("{% url 'panel:api_users_reset_password' %}", data).then((res) => {

                        if (res.data && res.data.status) {
                            if (res.data.status == 'okay') {

                                this.flag_loading = false;
                                var r = Date.now();
                                window.location.replace(`{% url 'panel:users' %}?r=${r}`);

                            } else if (res.data.status == 'error') {
                                if (res.data.form_errors) {
                                    this.form_errors = res.data.form_errors;
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: res.data.error, timer: 3000
                                })
                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })
                },
                {#readUser() {#}
                {#    axios.post("{% url 'panel:api_users_reset_password' %}", {'user_id': '{{ the_user.id }}', 'new_password' : this.user.new_password }).then((res) => {#}
                {#        if (res.data && res.data.status) {#}
                {#            if (res.data.status == 'okay') {#}
                {##}
                {#                this.flag_loading = false;#}
                {#                this.user = res.data.object;#}
                {##}
                {##}
                {#            } else if (res.data.status == 'error') {#}
                {##}
                {#                Swal.fire({#}
                {#                    icon: 'error',#}
                {#                    title: 'Oops...',#}
                {#                    text: res.data.error, timer: 3000#}
                {#                })#}
                {#            }#}
                {#        }#}
                {#    }).catch(error => {#}
                {#        Swal.fire({#}
                {#            icon: 'error',#}
                {#            title: 'Oops...',#}
                {#            text: error, timer: 3000#}
                {#        })#}
                {#    })#}
                {##}
                {#}#}
            },
            created() {
                {% comment %}
                {% if operation == 'create' %}
                    this.flag_loading = false;
                {% else %}
                    this.readUser();
                {% endif %}
                {% endcomment %}
            }
        });


    </script>

{% endblock %}
