{% extends "designs/coreui.html" %}

{% block title %}
    Configurations
{% endblock %}

{% load humanize %}
{% block content %}



    <div class="row" id="app">
        <div class="col-12">
            <p>Configuration details are available at the <a href="https://github.com/pulsely/uptimechecker/">Uptime Checker Github page</a>.</p>

            <div class="card mb-4">
                <div class="card-header">
                    {% if DEBUG_ %}
                        <i class="fa-solid fa-radiation text-danger"></i>
                        DEBUG mode enabled

                    {% else %}
                        <i class="fa-solid fa-circle-check text-success"></i>    DEBUG mode off. You can set

                    {% endif %}
                </div>


                <div class="card-body">
                    {% if DEBUG_ %}

                        <p>You are using DEBUG mode in Django. Please do not enable this mode on deployment.</p>

                        <p>Try setting the DEBUG mode in .env file to false:<br/>
                            <span class="text-primary">DEBUG=false</span></p>

                    {% else %}
                        You are not using DEBUG mode in Django. Great!

                    {% endif %}

                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Defaults
                </div>
                <div class="card-body">
                    <div class="row small">
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_USER_AGENT
                        </div>
                        <div class="col-md-8 col-12 text-dark mb-1">
                            {{ DEFAULT_USER_AGENT }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_PERIODIC_MINUTES
                        </div>
                        <div class="col-md-8 col-12 text-dark mb-1">
                            {{ DEFAULT_PERIODIC_MINUTES }}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_ADD_RANDOMNESS
                        </div>
                        <div class="col-md-8 col-12 text-dark mb-1">
                            {{ DEFAULT_ADD_RANDOMNESS }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black">
                            DEFAULT_PERIODIC_MINUTES
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ DEFAULT_PERIODIC_MINUTES }}
                        </div>


                    </div>


                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> E-mail Settings
                </div>
                <div class="card-body">
                    <div class="row small">
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            EMAIL_BACKEND
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ EMAIL_BACKEND }}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            AWS_SES_REGION_NAME
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ AWS_SES_REGION_NAME }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            AWS_SES_REGION_ENDPOINT
                        </div>
                        <div class="col-md-8 col-12 text-dark mb-1">
                            {{ AWS_SES_REGION_ENDPOINT }}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black">
                            SERVER_EMAIL
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ SERVER_EMAIL }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> ALLOWED_HOSTS

                </div>
                <div class="card-body">
                    {% for host in ALLOWED_HOSTS_ %}
                        {{ host }}{% if not forloop.last %}<br/>{% endif %}
                    {% endfor %}

                </div>
            </div>


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Default
                    Database: {{ DATABASES.default.ENGINE }}
                </div>
                <div class="card-body">
                    {% for k,v in DATABASES.default.items %}
                        {% if v %}
                            <div class="row small">
                                <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                                    {{ k }}
                                </div>
                                <div class="col-md-8 col-12 text-dark mb-1">
                                    {{ v }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Redis configurations
                </div>
                <div class="card-body">
                    {{ REDIS_URL_ }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Celery configurations
                </div>
                <div class="card-body">
                    <div class="row small">
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            CELERY_TIMEZONE
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ CELERY_TIMEZONE_ }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            CELERY_TASK_TRACK_STARTED
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ CELERY_TASK_TRACK_STARTED_ }}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            CELERY_TASK_TIME_LIMIT
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ CELERY_TASK_TIME_LIMIT_ }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_PERIODIC_MINUTES
                        </div>
                        <div class="col-md-8 col-12 text-dark">
                            {{ DEFAULT_PERIODIC_MINUTES }}
                        </div>


                    </div>


                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block postflight %}
    <script language="JavaScript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        Vue.mixin({
            delimiters: ['[[', ']]']
        });

        var vm = new Vue({
            el: '#app',
            data: {
                message: "Ready",
                flag_loading: false,
            },
            methods: {},
            created() {

            }
        });


    </script>

{% endblock %}
