{% extends "designs/coreui.html" %}

{% block title %}
    Configurations
{% endblock %}

{% load humanize %}
{% block content %}



    <div class="row" id="app">
        <div class="col-12">
            <p>Configuration details are available at the <a href="https://github.com/pulsely/uptimechecker/">Uptime
                Checker Github page</a>.</p>

            <div class="card mb-4">
                <div class="card-header">
                    {% if DEBUG_ %}
                        <i class="fa-solid fa-radiation text-danger"></i>
                        DEBUG mode enabled

                    {% else %}
                        <i class="fa-solid fa-circle-check text-success"></i>    DEBUG mode off. You can set

                    {% endif %}
                </div>


                <div class="card-body">
                    {% if DEBUG_ %}

                        <p>You are using DEBUG mode in Django. Please do not enable this mode on deployment.</p>

                        <p>Try setting the DEBUG mode in .env file to false:<br/>
                            <span class="text-primary">DEBUG=false</span></p>

                    {% else %}
                        You are not using DEBUG mode in Django. Great!

                    {% endif %}

                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Defaults
                </div>
                <div class="card-body">
                    <div class="row small">
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_USER_AGENT
                        </div>
                        <div class="col-md-8 col-12 text-primary mb-1">
                            {{ DEFAULT_USER_AGENT }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_PERIODIC_MINUTES
                        </div>
                        <div class="col-md-8 col-12 text-primary mb-1">
                            {{ DEFAULT_PERIODIC_MINUTES }}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_ADD_RANDOMNESS
                        </div>
                        <div class="col-md-8 col-12 text-primary mb-1">
                            {{ DEFAULT_ADD_RANDOMNESS }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black">
                            DEFAULT_PERIODIC_MINUTES
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {{ DEFAULT_PERIODIC_MINUTES }}
                        </div>


                    </div>


                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> E-mail Settings
                </div>
                <div class="card-body">
                    <div class="row small">
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            EMAIL_BACKEND
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {% if EMAIL_BACKEND %}
                                {{ EMAIL_BACKEND }}
                            {% else %}
                                <span class="text-muted small">None. Please change the EMAIL_BACKEND settings in .env file.</span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            AWS_SES_REGION_NAME
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {% if AWS_SES_REGION_NAME %}
                                {{ AWS_SES_REGION_NAME }}
                            {% else %}
                                <span class="text-muted small">None. Please change the AWS_SES_REGION_NAME settings in .env file.</span>
                            {% endif %}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            AWS_SES_REGION_ENDPOINT
                        </div>
                        <div class="col-md-8 col-12 text-primary mb-1">
                            {% if AWS_SES_REGION_ENDPOINT %}
                                {{ AWS_SES_REGION_ENDPOINT }}
                            {% else %}
                                <span class="text-muted small">None. Please change the AWS_SES_REGION_ENDPOINT settings in .env file.</span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            SERVER_EMAIL

                        </div>
                        <div class="col-md-8 col-12 text-primary mb-1">
                            {% if SERVER_EMAIL %}
                                {{ SERVER_EMAIL }}
                            {% else %}
                                <span class="text-muted small">None. Please change the SERVER_EMAIL settings in .env file.</span>
                            {% endif %}
                        </div>
                        {% if EMAIL_BACKEND and AWS_SES_REGION_NAME and AWS_SES_REGION_ENDPOINT and SERVER_EMAIL %}
                            <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mt-1">
                                Send a test e-mail?
                            </div>
                            <div class="col-md-8 col-12 text-primary">
                                <input type="email" class="form-control" v-model="email"
                                          placeholder="e.g. yourname@yourcompany.com"></input>

                                <div class="d-flex mt-3">
                                    <button @click="testEmail" class="btn btn-success"
                                            :disabled="email.length == 0">Send Test E-mail
                                    </button>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Slack
                </div>
                <div class="card-body">
                    <div class="row small">
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            SLACK_TOKEN
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {% if SLACK_TOKEN %}
                                {{ SLACK_TOKEN }}
                            {% else %}
                                <span class="text-muted small">None. Please change the SLACK_TOKEN settings in .env file.</span>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            SLACK_ROOM
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {% if SLACK_ROOM %}
                                {{ SLACK_ROOM }}
                            {% else %}
                                <span class="text-muted small">None. Please change the SLACK_ROOM settings in .env file.</span>
                            {% endif %}

                        </div>
                        {% if SLACK_ROOM and SLACK_TOKEN %}
                            <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                                Send a test mesesage?
                            </div>
                            <div class="col-md-8 col-12 text-primary">
                                <textarea class="form-control" v-model="slack_message"
                                          placeholder="Text message (100 character max)"></textarea>

                                <div class="d-flex mt-3">
                                    <button @click="testSlack" class="btn btn-success"
                                            :disabled="slack_message.length == 0">Send Test Message
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> ALLOWED_HOSTS

                </div>
                <div class="card-body">
                    {% for host in ALLOWED_HOSTS_ %}
                        {{ host }}{% if not forloop.last %}<br/>{% endif %}
                    {% endfor %}

                </div>
            </div>


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Default
                    Database: {{ DATABASES.default.ENGINE }}
                </div>
                <div class="card-body">
                    {% for k,v in DATABASES.default.items %}
                        {% if v %}
                            <div class="row small">
                                <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                                    {{ k }}
                                </div>
                                <div class="col-md-8 col-12 text-primary mb-1">
                                    {{ v }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Redis configurations
                </div>
                <div class="card-body text-primary">
                    {{ REDIS_URL_ }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-circle-check text-success"></i> Celery configurations
                </div>
                <div class="card-body">
                    <div class="row small">
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            CELERY_TIMEZONE
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {{ CELERY_TIMEZONE_ }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            CELERY_TASK_TRACK_STARTED
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {{ CELERY_TASK_TRACK_STARTED_ }}
                        </div>
                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            CELERY_TASK_TIME_LIMIT
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {{ CELERY_TASK_TIME_LIMIT_ }}
                        </div>

                        <div class="col-md-4 col-12 font-weight-bold text-sm-end font-weight-bold text-black mb-1">
                            DEFAULT_PERIODIC_MINUTES
                        </div>
                        <div class="col-md-8 col-12 text-primary">
                            {{ DEFAULT_PERIODIC_MINUTES }}
                        </div>


                    </div>


                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block postflight %}
    <script language="JavaScript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        Vue.mixin({
            delimiters: ['[[', ']]']
        });

        var vm = new Vue({
            el: '#app',
            data: {
                message: "Ready",
                flag_loading: false,
                email: "",
                slack_message: "",
            },
            methods: {
                testEmail() {
                    // trigger the "init" operations on server side
                    var data = {
                        email: this.email
                    };

                    axios.post("{% url 'panel:api_test_email' %}", data).then((res) => {

                        if (res.data && res.data.status) {
                            if (res.data.status == 'okay') {
                                //this.email = "";
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Done!',
                                    text: 'Test e-mail sent. Please check your e-mail now.', timer: 6000
                                })

                            } else if (res.data.status == 'error') {
                                if (res.data.form_errors) {
                                    this.form_errors = res.data.form_errors;
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: res.data.error, timer: 3000
                                })
                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })
                },
                testSlack() {
                    // trigger the "init" operations on server side
                    var data = {
                        message: this.slack_message
                    };

                    axios.post("{% url 'panel:api_test_slack' %}", data).then((res) => {

                        if (res.data && res.data.status) {
                            if (res.data.status == 'okay') {
                                this.slack_message = "";
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Done!',
                                    text: 'Test message sent. Please check your Slack now.', timer: 6000
                                })

                            } else if (res.data.status == 'error') {
                                if (res.data.form_errors) {
                                    this.form_errors = res.data.form_errors;
                                }

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: res.data.error, timer: 3000
                                })
                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })
                }
            },
            created() {

            }
        });


    </script>

{% endblock %}
