{% extends "designs/coreui.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% load humanize %}
{% block content %}


    <!-- content -->

    <div class="row" id="app">
        <div class="col-12">
            {% if is_secretkey_insecure %}
                <div class="alert alert-danger">
                    <p>Your Django SECRET_KEY is using the default insecure key. Please generate and use a custom
                        one.</p>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success btn-sm mr-4 text-white" @click="loadObjects"><i
                                class="fa-solid fa-rotate-right"></i> Refresh
                        </button>

                        <div>

                            <h4 class="card-title mb-0"> [[objects.length]] Uptime Records
                            </h4>
                            {#                            <div class="small text-medium-emphasis">January - July 2022</div>#}
                        </div>

                        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                            <button class="btn btn-outline-dark  btn-sm mr-4" @click="triggerAllhost"><i
                                    class="fa-solid fa-robot"></i> Check all websites
                            </button>

                        </div>
                    </div>
                </div>

                <div class="card-body" v-show="objects.length == 0">
                    <p>You do not have any website yet. <a href="{% url 'panel:websites_create' %}" class="text-success">Add one now</a>?</p>
                </div>
                {% comment %}XS size{% endcomment %}
                <div class="card-body dashboard-table-xs" v-show="objects.length > 0">
                    <table class="table">
                        <thead>
                        {#                        <th></th>#}
                        <th>
                            Website
                        </th>
                        {#                        <th>SSL Expiration</th>#}
                        {#                        <th>Previous Exception</th>#}
                        <th>Status 0</th>

                        </thead>
                        <tbody>
                        <tr class="tableHoverRow " v-for="object in objects" :key="object.id" {% if request.user.is_staff %}@click="websiteDetail(object)"{% endif %}>
                            <td>
                                <span v-show="object.title">
                                    <span class="text-primary">[[object.title]]</span><br/>
                                    <span @click.stop="gotoWebsite(object)"
                                       class="no-underline-link small">[[object.target_website_url]]</span>
                                </span>

                                <span v-show="!object.title">
                                    <a :href="object.target_website_url"
                                       target="_blank" class="no-underline-link">[[object.target_website_url]]</a>
                                </span>
                            </td>

                            <td v-if="object.uptimes && object.uptimes.length > 0" class="text-center">
                                <span :class="buttonClassForStatus(object.uptimes[0].status)">[[object.uptimes[0].status_display]]</span>

                                <span class="small text-muted">[[humanize_seconds(object.uptimes[0].end_time)]]</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body dashboard-table" v-show="objects.length > 0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                Website
                            </th>
                            <th>SSL Expiration</th>
                            <th>Previous Exception</th>
                            <th>Status 0</th>
                            <th>Status -1</th>

                            <th>Status -2</th>

                            <th>Status -3</th>

                            <th>Status -4</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tableHoverRow " v-for="object in objects" :key="object.id"  {% if request.user.is_staff %}@click="websiteDetail(object)"{% endif %}>
                            <td>
                                <button class="btn btn-dark text-white btn-sm"
                                        @click.stop="triggerSingleHost($event, object.id)"><i
                                        class="fa-solid fa-robot"></i></button>
                            </td>
                            <td>
                                <span v-show="object.title">
                                    <span class="text-primary" @click.stop.prevent="gotoWebsite(object)">[[object.title]]</span><br/>
                                    <span @click.stop.prevent="gotoWebsite(object)"
                                       class="no-underline-link small">[[object.target_website_url]]</span>
                                </span>

                                <span v-show="!object.title">
                                    <a :href="object.target_website_url"
                                       target="_blank" class="no-underline-link">[[object.target_website_url]]</a>
                                </span>
                            </td>
                            <td class="small"><span v-if="object.ssl_expire_time">[[unixtime_to_locale(object.ssl_expire_time)]]<br/>
                                <small class="text-muted">[[humanize_seconds(object.ssl_expire_time)]]</small></span>
                            </td>
                            <td class="small"><span v-if="object.previous_exception && object.previous_exception.time">[[unixtime_to_locale(object.previous_exception.time)]]
                                <br/>
                                <span class="small text-danger">[[object.previous_exception.status_display]]</span>
                            </span>
                            </td>

                            <td v-for="uptime in object.uptimes" :key="uptime.id" class="text-center">
                                <span :class="buttonClassForStatus(uptime.status)">[[uptime.status_display]]</span>

                                <span class="small text-muted" v-show="uptime.end_time">[[humanize_seconds(uptime.end_time)]]</span>
                            </td>
                            <td :colspan="(5 - object.uptimes.length)" v-if="object.uptimes && object.uptimes.length < 5">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postflight %}
    <script language="JavaScript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        Vue.mixin({
            delimiters: ['[[', ']]']
        });

        var vm = new Vue({
            el: '#app',
            data: {
                message: "Ready",
                objects: [],
                flag_loading: false,
            },
            methods: {
                unixtime_to_locale(str) {
                    var dt = LuxonDateTime.fromMillis(str * 1000).toFormat('dd LLL, yyyy HH:mm:ss');
                    return dt;
                },
                humanize_seconds(str) {
                    return moment.duration(str - Math.floor(Date.now() / 1000), "seconds").humanize(true);
                },

                buttonClassForStatus(label) {
                    if (label == "normal") {
                        return 'd-block btn btn-success btn-sm text-white';
                    } else if (label == "checking") {
                        return 'd-block btn btn-warning btn-sm text-white';
                    } else {
                        return 'd-block btn btn-danger btn-sm text-white';
                    }
                },
                loadObjects() {
                    this.flag_loading = true;
                    const data = {};

                    // trigger the "init" operations on server side
                    axios.post("{% url 'panel:api_uptime_list' %}", data).then((res) => {
                        if (res.data && res.data.status) {
                            if (res.data.status == 'okay') {
                                this.objects = res.data.objects;
                                //this.paginator = res.data.paginator;

                                this.flag_loading = false;

                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })
                },
                triggerAllhost: function (event) {

                    const posData = {
                        mode: 'all'
                    };

                    // trigger the "init" operations on server side
                    axios.post("{% url 'panel:api_trigger_refresh' %}", posData).then((res) => {

                        if (('status' in res.data) && (res.data.status == 'okay')) {
                            /*
                            Swal.fire({
                                icon: 'success',
                                title: 'Oops...',
                                text: res.data.message, timer: 3000
                            })*/
                            this.loadObjects();

                            setTimeout(() => {
                                this.loadObjects();
                            }, 10000);
                            setTimeout(() => {
                                this.loadObjects();
                            }, 20000);

                        }
                        if ('error' in res.data) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res.data.error, timer: 3000
                            })
                        }

                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })
                },

                triggerSingleHost: function (event, host_id) {

                    const posData = {
                        host_id: host_id,
                        mode: 'single'
                    };

                    // trigger the "init" operations on server side
                    axios.post("{% url 'panel:api_trigger_refresh' %}", posData).then((res) => {

                        if (('status' in res.data) && (res.data.status == 'okay')) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Oops...',
                                text: res.data.message, timer: 3000
                            })

                            this.loadObjects();

                            setTimeout(() => {
                                this.loadObjects();
                            }, 10000);
                            setTimeout(() => {
                                this.loadObjects();
                            }, 20000);

                        }
                        if ('error' in res.data) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res.data.error, timer: 3000
                            })
                        }

                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000

                        })
                    })
                },
                gotoWebsite(website) {
                    window.open(website.target_website_url);
                },
                websiteDetail(website) {
                    window.location.replace( `/panel/website/edit/${website.id}/`);
                }
            },
            created() {
                this.loadObjects();

                setInterval(() => {
                    this.loadObjects();
                }, 1000 * 60);
            }
        });
    </script>
{% endblock %}
