{% extends "designs/coreui.html" %}

{% block title %}
    Users
{% endblock %}

{% load humanize %}
{% block content %}



    <div class="row" id="app">
        <div class="col-12">
            {% if is_secretkey_insecure %}
                <div class="alert alert-danger">
                    <p>Your Django SECRET_KEY is using the default insecure key. Please generate and use a custom
                        one.</p>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">


                    [[objects.length]] Users

                </div>

                {% comment %}XS size{% endcomment %}
                <div class="card-body ">
                    <table class="table">
                        <thead>
                        <th>
                            Username
                        </th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role
                        <th style="width: 40px;"></th>

                        </thead>
                        <tbody>
                        <tr class="tableHoverRow " v-for="object in objects" :key="object.id">
                            <td class="font-weight-bold">
                                [[object.username]]
                            </td>
                            <td>
                                <span v-show="!object.first_name">-</span>
                                [[object.first_name]]
                            </td>
                            <td><span v-show="!object.last_name">-</span>

                                [[object.last_name]]
                            </td>
                            <td>
                                [[object.role_display]]
                            </td>
                            <td>
                                <button @click="deleteUser(object)" class="btn btn-sm btn-danger"><i
                                        class="fa-solid fa-trash" style="color: #fff;"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block postflight %}
    <script language="JavaScript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        Vue.mixin({
            delimiters: ['[[', ']]']
        });

        var vm = new Vue({
            el: '#app',
            data: {
                message: "Ready",
                flag_loading: false,
                objects: []
            },
            methods: {
                loadObjects() {
                    this.flag_loading = true;
                    const data = {};

                    // trigger the "init" operations on server side
                    axios.post("{% url 'panel:api_users_list' %}", data).then((res) => {
                        console.log(res.data)
                        if (res.data && res.data.status) {
                            if (res.data.status == 'okay') {
                                this.objects = res.data.objects;
                                //this.paginator = res.data.paginator;

                                this.flag_loading = false;

                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error, timer: 3000
                        })
                    })
                },
                deleteUser(user) {
                    Swal.fire({
                        title: `Are you sure you want to delete user with username ${user.username}?`,
                          showDenyButton: true,

                        confirmButtonText: 'Do not delete',
                        denyButtonText: `Delete this user now`,
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isDenied) {
                            // trigger the "init" operations on server side
                            var data = {
                                "user_id": user.id,
                            };
                            axios.post("{% url 'panel:api_users_delete' %}", data).then((res) => {
                                console.log(res.data)
                                if (res.data && res.data.status) {
                                    if (res.data.status == 'okay') {
                                        this.objects = res.data.objects;
                                        //this.paginator = res.data.paginator;

                                        this.flag_loading = false;

                                        this.loadObjects();

                                    }
                                }
                            }).catch(error => {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: error, timer: 3000
                                })
                            })
                        } else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info')
                        }
                    })


                }
            },
            created() {
                this.loadObjects();

            }
        });


    </script>

{% endblock %}
