<style>
    {#@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');#}

    .no-underline-link {
        text-decoration: none;
    }

    .breadcrumb a, .breadcrumb a:link {
        color: #000;
    }

    {% comment %}
    .logofont {
        font-family: 'Lobster', cursive;
        font-size: 24px;
    }
    {% endcomment %}

    /* Show on smaller than 1166 */
    .dashboard-table-xs {
        display: block;
    }

    @media only screen and (min-width: 1166px) {
        .dashboard-table-xs {
            display: none;
        }
    }

    /* Show on larger than 1166 */
    .dashboard-table {
        display: none;
    }

    @media only screen and (min-width: 1166px) {
        .dashboard-table {
            display: block;
        }
    }

    .bg-blue-uptime {
        background-color: #374551;
    }

    a, a:link {
        color: #374551;
    }

    .sidebar {
        background-color: #374551 !important;
    }

    .tableHoverRow {
        cursor: pointer;
    }

</style>